@font-face {
  font-family: 'NanumJungHagSaeng';
  src:
    url('../assets/fonts/subset-NanumJungHagSaeng.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumJungHagSaeng.woff') format('woff'),
    url('../assets/fonts/subset-NanumJungHagSaeng.ttf') format('truetype');

  font-display: fallback;
}
