@charset "utf-8";

@import url('./reset.scss');
@import url('./font.scss');

:root {
  --red: #ea7664;
  --black: #544f4f;
  --brown: #89787a;
  --beige: #f6f5f5;
}

body {
  font-family: 'NanumJungHagSaeng';
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  font-family: inherit; //상단에서 내려주는 폰트를 그대로 사용

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: var(--black);
}
